.idea
/out
/target
*.iml
.DS_Store
*.csv
*.png
*.xcf
*.pdf
*.txt
QuadTreeContainer.java
QuadTreeContainer2.java
src/test/java/measure
src/test/java/quadTree/bugs
src/test/java/quadTree/QuadTreeRectGame.java